.mdl-layout-title {
    background-image: url(../images/animals/header.jpg);
    height: 200px;
    width: 100%;    
}
.mdl-layout-title img {
    margin:10px;
}
body{
    background-image: url(../images/animals/minimalist_background5.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}